doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title Song Seeder
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/paper/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
    body
        .navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Song Seeder

        #main.container
            .jumbotron
                h1.text-center.key -
                h1.text-center.tempo -
                button.btn.btn-primary.btn-lg.btn-block.randomizer(type="button") Randomize

        p#copyright.text-center.text-muted &copy; 2015 Mike Dominice

        script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
        script(src="js/main-min.js")
